
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@using webprojesi.Models.Entity
@model List<webprojesi.Models.Entity.Markalar>

<h2>Markalar Sayfasi</h2>

<table class="table">
    <thead style="background-color:aliceblue">
        <tr>
            <th>ID</th>
            <th>Kategori</th>
            <th>Marka</th>
            <th>Aciklama</th>
            <th>Sil</th>
            <th>Guncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var marka in Model)
        {
        <tr>
            <td>@marka.ID</td>
            @if (marka.Kategoriler == null)
            {
                <td></td>
            }
            else
            {
                <td>@marka.Kategoriler.Kategori</td>

            }
            <td>@marka.Marka</td>
            <td>@marka.Aciklama</td>
            <td><a href="/Markalar/SilBilgiGetir/@marka.ID"  class="btn btn-danger">Sil</a></td>
            <td><a href="/Markalar/GuncelBilgiGetir/@marka.ID" class="btn btn-warning">Guncelle</a></td>
        </tr>

        }
    </tbody>

</table>
<a href="/Markalar/YeniMarka" class="btn btn-success" style="margin-top:10px;">Marka ekle</a>
