
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@using webprojesi.Models.Entity
@model List<webprojesi.Models.Entity.Kategoriler>

<h2>Kategoriler sayfasi</h2>


<table border="1" class="table table-bordered">

    <tr>
        <th>Kategori ID</th>
        <th>Kategori adi</th>
        <th>Kategori tanimi</th>
        <th>Sil</th>
        <th>Guncelle</th>
        <th>Markalar</th>
        <th>Urunler</th>

    </tr>
   
    
       @foreach (var item in Model)
       {
        <tr>
            <td>@item.ID</td>
            <td>@item.Kategori</td>
            <td>@item.Aciklama</td>
            <td><a href="/Kategoriler/SilBilgiGetir/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategoriler/GuncelBilgiGetir/@item.ID" class="btn btn-warning">Guncelle</a></td>
            <td><a href="/Kategoriler/Markalar/@item.ID" class="btn btn-secondary">Markalar</a></td>
            <td><a href="/Kategoriler/Urunler/@item.ID" class="btn btn-secondary">Urunler</a></td>

        </tr>

       }
    
</table>
<a href="/Kategoriler/YeniKategori" class="btn btn-success" style="margin-top:10px;">Kategori ekle</a>