
@{
    ViewBag.Title = "SilBilgiGetir";
    Layout = "~/Views/_Layout.cshtml";
}
@model webprojesi.Models.Entity.Birimler
<h2>Birim silme sayfasi</h2>

<div class="container">
    @using (Html.BeginForm("Sil", "Birim"))
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.ID)
            <label style="font-weight:bold">Birim:</label>
            @Html.DisplayFor(x => x.Birim, new { @class = "form-control" })
        </div>
        <div>
            <label style="font-weight:bold">Aciklama:</label>
            @Html.DisplayFor(x => x.Aciklama, new { @class = "form-control" })
        </div>
        <div>
            <button class="btn btn-danger" style="margin-top:20px;">Sil</button>
            <a href="/Birim/Index" style="margin-top:20px;">Birimler sayfasi</a>

        </div>
    }

</div>


